@model IEnumerable<SiyayaTravelAssist.Models.ServiceProvider>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceProviderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhysicalAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceProviderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysicalAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServiceProviderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceProviderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceProviderID })
        </td>
    </tr>
}

</table>
