@model IEnumerable<SiyayaTravelAssist.Models.VehicleMaintenance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KmToMaintenance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaintenanceStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaintenanceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceProvider.ServiceProviderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.VehicleLicenseNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KmToMaintenance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaintenanceStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaintenanceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceProvider.ServiceProviderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.VehicleLicenseNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VehicleMaintenanceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VehicleMaintenanceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VehicleMaintenanceID })
        </td>
    </tr>
}

</table>
