@model SiyayaTravelAssist.Models.AuditTrail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AuditTrail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuditTrailDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditTrailDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditTrailTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditTrailTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AuditTrailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
